@mixin __border{
  content: ' ';
  width: 100%;
  position: absolute;
  left: 0;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform: scaleY(.5);
}

.borderT,
.borderB {
  position: relative;
  &::before {
    @include __border;
  }
}
.borderT::before {
  top: 0;
}
.borderB::before {
  bottom: 0;
}

