.layout-home {
  .item-block {
    position: relative;
    padding: 5px 0;
    padding-left: 70px;
    &::after {
      content: '';
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-top: 1px solid #e5e5e5;
      transform: scaleY(.5);
    }
    .item-photo {
      position: absolute;
      left: 10px;
      top: 5px;
      width: 50px;
      height:50px;
      background: red;
    }
    .item-info {
      height: 50px;
      background: #000;
    }
  }
}